
$theme-colors: (
    "primary": #0690b0
);


$themecolors:         #0690b0;
$themecolorsdark:     #2d3d4c;
$white:               #fff;
$commantext:          #8b8b8b;
$daekgray:            #6d6d6d;
$lightgray:           #f7f7f7;
$till:                #01bea3;


$font-regular:           'open_sansregular';
$font-bold:              'open_sansbold';
$font-semibold:          'open_sanssemibold';
$font-light:             'open_sanslight';

$fontsize:              90px;


$slidertextwidth:       100%;
$gutter1:               30px;
$gutter2:               20px;







